<nav class="main-nav text-right" role="navigation">
    <ul>

    {{! Home link }}
    <li><a class="" href="{{@blog.url}}/">Home</a></li>

    {{! Add static pages here. Make sure you create these static pages using Ghost's interface }}
    <li><a href="{{@blog.url}}/projects">Projects</a></li>
    <li><a href="{{@blog.url}}/about">About</a></li>

    </ul>
</nav>
