{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

    {{!! After all posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
