{{! This is a custom template page associated to the /projects static page.}}
{{! If you want to have something similar, make sure you modify its content.}}

{{!< default}}

<main role="main">
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

        <h1 class="post-title">Projects</h1>

        {{! Here go the static pages. Make sure you modify the links of the pages and their titles. }}
        <p><span class="project_title" itemprop="headline"><a href="{{@blog.url}}/test-project-page">Test Project Page</a></span></p>
        <p><span class="project_title" itemprop="headline"><a href="{{@blog.url}}/test-project-page2">Test Project Page 2</a></span></p>

    </article>
</main>
