{{! This is a custom template page associated to the /projects static page.}}
{{! If you want to have something similar, make sure you modify its content.}}

{{!< default}}

<article class="{{post_class}}">

    <h1 class="projects">Projects</h1>
    <p>It contains some of my side projects. TODO</p>

</article>
