@charset "UTF-8";

/*
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local("Lora Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}
*/

@font-face {
  font-family: 'kiss';
  src: url('../font/kiss.eot?86520779');
  src: url('../font/kiss.eot?86520779#iefix') format('embedded-opentype'),
       url('../font/kiss.woff?86520779') format('woff'),
       url('../font/kiss.ttf?86520779') format('truetype'),
       url('../font/kiss.svg?86520779#kiss') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kiss";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  font-size: 110%;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-github-circled:before { content: '\e800'; }
.icon-linkedin:before { content: '\e801'; }
.icon-gplus:before { content: '\e802'; }
.icon-facebook:before { content: '\e803'; }
.icon-twitter:before { content: '\e804'; }
.icon-rss:before { content: '\e805'; }
.icon-mail:before { content: '\e806'; }
.icon-tag:before { content: '\e807'; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: 'Lora', serif;
  font-size: 1.25em;
  line-height: 1.45em;
  color: #3A4145;
}

::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: 'Lora', serif;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  text-indent: -3px;
}

h2 {
  font-size: 1.7em;
  line-height: 1.2em;
  text-indent: -2px;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p, ul, ol {
  margin: 1.2em 0;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -2.2em;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a 0.4em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}

pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #efefef;
}

table table table {
  background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

a {
  color: #4a4a4a;
  transition: color ease 0.3s;
}

a:hover {
  color: #6565f4;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  background: #303538 no-repeat center center;
  background-size: cover;
  background-position: 20%;
  -webkit-transform: translateZ(0);
}

.sidebar a {
  color: white;
}

.sidebar a:hover {
  color: #6565f4;
}

.sidebar .logo {
  display: block;
  width: 70%;
  height: auto;
  background-size: contain;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background: no-repeat;
}

.sidebar .circle {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto 20px auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.sidebar .social-icons {
  margin-top: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  /* background: red; */
  display: inline-block;
}

.sidebar .icon {
  font-size: 18px;
  display: inline-block;
  /* border: 1px solid white; */
}

.sidebar .title {
  font-size: 2em;
  font-variant: small-caps;
  color: white;
  text-decoration: none;
  margin: 0;
}

.sidebar .description {
  font-size: .9em;
  font-style: italic;
  margin: 1em 0 1em 0;
  line-height: 0.9em;
}

.sidebar .footer {
  position: relative;
  bottom: 0px;
  font-size: 12px;
}

.main-nav ul {
    padding-left: 0;
    margin: 1em 0 0 0;
}

.main-nav ul li {
    list-style: none;
    width: 100%;
}

.main-nav ul li a {
    margin: 0 auto .5em;
    display: block;
    text-decoration: none;
    border: 1px solid #666;
    width: 70%;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 2.6em;
}

.main-nav ul li a:hover {
    border-color: #6565f4;
    color: #6565f4;
    transition: 0.2s all;
}

.main-nav ul li:last-child {
    margin-bottom: 0;
}

.content {
  margin-left: 250px;
  padding: 20px 50px 0 50px;
  max-width: 800px;
}

.content .post {
  padding-bottom: 1em;
  margin-top: 1em;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  hyphens: auto;
}

.post-content img {
  display: block;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content .post .post-title {
  margin: 0;
}

.content .post .post-title a {
  text-decoration: none;
}

.content .post .post-excerpt p {
  margin: 0.5em 0 0 0;
  line-height: 1.4em;
}

.content .post .post-meta {
  display: inline-block;
  font-size: 0.8em;
  color: #9EABB3;
}

.content .post .post-meta a {
  color: #9EABB3;
  text-decoration: none;
}

.content .post .post-meta a:hover {
  text-decoration: underline;
}

.separator {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Project Page */
.projects-content {
  margin-bottom: 2em;
}

.project-page {
  margin: 0.5em 0 0.5em 0;
}

.project-title a {
  text-decoration: none;
  display: block;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.project-name {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.project-description {
  margin-left: 0.6em;
  font-size: smaller;
}
/* End of Project Page */

.pagination {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 3em 0px;
  font-family: 'Lora', serif;
  font-size: 0.9rem;
  color: #9EABB3;
  text-align: center;
}

.pagination a {
  color: #6565f4;
}

.site-footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  font-family: 'Lora', serif;
  font-size: .7rem;
  line-height: 1.4em;
  color: #e6e9eb;
}

.site-footer a {
  color: #e6e9eb;
  text-decoration: none;
}

.site-footer a:hover {
  color: white;
}

.poweredby .ghost-link {
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.1em;
}

.poweredby .ghost-link:hover {
  text-decoration: none;
}

.poweredby .ghost-link:before {
  font-size: 1rem;
  margin-right: 0.2em;
}

.post-footer {
  margin-top: 3em;
}

.post-share {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.share {
  text-align: right !important;
}

.share ul {
  margin-bottom: 3em;
  margin-top: 0;
}

.share li {
  list-style-type: none;
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.2em;
}

.tag-archive-header {
  margin: 1em 0 1em 0;
  text-align: left;
  max-width: 800px;
  border-bottom: 1px solid #EBF2F6;
}

.tag-archive-header i {
  font-size: 80%;
}



/* Media Queries */
@media (min-width: 800px) and (max-height: 520px) {
    .site-footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 5em;
    }

    .sidebar .logo {
      width: 40%;
      height: auto;
      margin: 0 auto 10px;
    }

    .main-nav ul {
      margin: 1em 0 0 0;
    }
}

@media all and (max-width: 800px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background: #303538 no-repeat center center;
    background-size: cover;
    background-position: 20%;
    -webkit-transform: translateZ(0);
  }

  .sidebar .description {
    display: none;
  }

  .sidebar .circle {
    width: 100px;
    height: 100px;
  }

  .sidebar .logo {
    padding: 0;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 80px;
  }

  .content {
    margin-left: 0px;
  }

  .separator {
    margin: 0 auto;
    width: 60%;
  }

  .main-nav ul {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .main-nav ul li {
    list-style: none;
    display: inline-block;
    width: 20%;
    /* margin: 0 0.5em 0 0.5em; */
  }

  .main-nav ul li a {
    border: none;
    line-height: 1.3em;
    width: auto;
  }

  .site-footer {
    display: none;
  }

  .sidebar .social-icons {
    margin-top: 0px;
  }
}

@media all and (max-width: 400px) {
  .main-nav ul li {
    width: 32%;
  }
}
